@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Questrial&display=swap');

.clases_p{
  font-family: 'Graduate', serif;
  margin: 0px;
}
footer{
  grid-area: fo;
}
.clases_p{     
background-color: #ffffff;   
display: grid;
grid-template-columns: 20% 80%;
grid-template-rows: auto minmax(1000px, auto) auto;
grid-template-areas: 
"cabe cabe"
"iz ta"
"fo fo"; 
margin: 0px;
}    
.hea{
grid-area: cabe;
padding: 30px;
background-color: #35403E;
font-size: 100px;

}       

/*sec 1*/
#uno{
grid-area: iz;
display: flex;
flex-direction: column;
flex-wrap: wrap;
background-color:#1d1e22;
margin: 0px 0px;
          
}

#pendientes, #personas, #archivos, #publi{
margin: 5px 30px;
cursor: pointer;
display: flex;
flex-wrap: wrap;
flex-direction: row;
align-items: center;
justify-content: center;
background-color: rgb(255, 255, 255);
border-radius: 15px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#b_class{
margin: 20px 0px;
}

.cuadros{ /*botones pendientes, personas, archivos y publicaciones*/
text-decoration: none;
color: black;
}

#tare, #person, #archiv, #flech{
width: 40px;
margin: 10px 15px;
}
    
/*sec2*/

      #dos{
          
          grid-area: ta;
          display: flex;
          flex-direction: column;  
          background-color: #1d1e22;
          margin: 0px 0px;
          
/*ESCRIBE TU PUBLI*/           
    
      }
      .caja_comentario, .texto_comentario{
        text-decoration: none;
        margin: 15px 10px;
        border-radius: 20px;
        display: flex;
        flex-direction: row; 
       
      } 
      .caja_comentario, .caja_comentario_2{
        text-decoration: none;
        margin: 25px 10px;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        box-shadow: 5px 5px 20px;
       
             
      } 

      .caja_comentario{
        background-color: white;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 10px;
      }

      .texto_comentario{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1px;
        font-weight: 400;
        font-size: 15px;
        padding: 5px;
      }
      #form_publi{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
      }
      .asunto_publi{
        padding: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        margin-top: -20px;
      }

      input[type="file"]{
      display: flex;
      padding: 8px 14px;
      border: none;
   
      cursor: pointer;
      font-size: 1rem;
      font-weight: bold;
      transition: background 0.3s ease, transform 0.2s ease;
}
   input[type="file"]:hover{
    background-color: #e8f0fe;
    color: #008a1e;
   }

/*ESCRIBE TU PUBLI*/

.caja_comentario, .texto_comentario{
text-decoration: none;
margin: 15px 10px;
border-radius: 20px;
display: flex;
flex-direction: row; 
} 
      
.caja_comentario, .caja_comentario_2{
text-decoration: none;
margin: 25px 10px;
border-radius: 20px;
display: flex;
flex-direction: row;
box-shadow: 5px 5px 20px;
} 

.caja_comentario{
background-color: white;
cursor: pointer;
display: flex;
align-items: center;
}

.texto_comentario{
display: flex;
flex-direction: column;
flex-wrap: wrap;
gap: 1px;
font-weight: 400;
font-size: 15px;
padding: 5px;
}

#form_publi{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 10px;
}

.asunto_publi{
padding: 20px;
display: flex;
align-items: center;
text-align: center;
margin-top: -20px;
}

input[type="file"]{
display: none;
}

.b_file{
display: inline-block;
padding: 10px 18px;
background: #35403E;
color: white;
border-radius: 8px;
cursor: pointer;
transition: background 0.3s ease;
font-family: inherit;
box-shadow: rgba(50, 50, 93, 0.35) 0px 50px 100px -20px, 
rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.b_file:hover {
background: #4A5B57;
}

#n_archivo {
margin-left: 10px;
font-size: 14px;
color: #555;
}


.label{
background-color: rgb(97, 121, 129, 0.5);
padding: 10px;
margin: -15px 0px;
}
     
#l_archiv{
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-items: center;
gap: 15px;
}
     
.publica{
font-family: 'Graduate', serif;
height: 30px;
width: 75%;
background-color: #ffffff;
font-size: 15px;
font-weight: 500;
padding: 10px;
border: 1px solid;
color: black;
position: relative;
transition: 0.3s;
    }

.publica:hover{
outline: none;
background-color: #3a4b46;
color: rgb(255, 255, 255);
    }

.publica:hover::after{
border: none;
}
    
.coment{
display: flex;
flex-direction: row;
justify-content: flex-start;
gap: 5px;
width: 100%;
display: flex;
padding: 20px;
}
    
.asunto_publi, .coment{
gap: 10px;
}

  .enviar{
      text-align: left;
      margin: 10px;
    }
    #b_enviar{
      font-family:'Graduate', serif; ;
      padding: 10px;
      border: 2px solid rgb(155, 145, 145);
      border-radius: 25px;
      background-color: #ffffff;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    #b_enviar:hover{
      background-color: #b1c4c0;
    }
/*PUBLICAIONES*/
.caja_comentario_2{  
border: 1px solid white;
border-radius: 15px;
background-color: #ffffff;
border-radius: 30px;
padding: 30px;
display: flex;
flex-direction: column;
align-items: flex-start;
}

h2{
color: white;
margin: 20px;
}
    

.hora_profe{
text-align: left;
background-color: transparent;
font-weight: 200;
color: rgba(61, 58, 58, 1);
border: none;
position: relative;
        }

.profe{
align-items: center;
display: flex;
flex-direction: row;
text-align: center;
height: 50px;
        
      }

.datos_profe {
font-size: 20px;
font-weight: 900;
text-align: center;
font-weight: 500;
padding: 10px;
border: none;
position: relative;
border-bottom:1px solid black ;
  }

.edit{
margin-left: 45px;
}

.publicado{
background-color: rgb(97, 121, 129, 0.5);
margin: 7px;
border: 1px solid black;
border-radius: 15px ;
}

.respuesta_asu {
font-family: 'Graduate', serif;
font-weight: 600;
padding: 10px;
}

.respuesta {
font-family:'Graduate', serif;
padding: 20px;
border-top: 1px solid #1d1e22;
}

.texto2{
color: white;
}

/*imagenes*/
#user, #flecha, #asigna{
width: 30px;
height: 30px;
padding: 20px;
}

 @media(max-width: 400px){
  
    .clases_p{
     display: grid;
     grid-template-columns: 100%;
     grid-template-rows: auto auto auto;
     grid-template-areas: 
     "cabe"
     "iz"
     "ta";
     display: flex;
     flex-direction: column;
              
          }  
.hea{
  background-color: #35403E;
  grid-area: cabe;
  padding: 20px;
}

.publica{
   width: 70%; 
          }      
.titulo {
  font-size: 4em;
  
}


#b_class{
 
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  background-color: #48615a;
 
}
  
  #pendientes, #personas, #archivos, #publi {
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        border-radius: 15px;
        justify-content: center;
        padding: 5px;
        width: 80px;
        height: 50px;
        opacity: 0.8;
  }

   #publi{
    font-size: 10px;
   }

    #tare, #person, #archiv, #flech{
        width: 0px;
      }

  .cuadros {
    margin: 10px;
    font-size: 15px;
    font-weight: 900;
    padding: 5px;
    
 
    
  }

}

@media(max-width: 1200px){
  
    .clases_p{
     display: grid;
     grid-template-columns: 100%;
     grid-template-rows: auto auto auto;
     grid-template-areas: 
     "cabe"
     "iz"
     "ta";
     display: flex;
     flex-direction: column;
              
          }  
.hea{
  
  grid-area: cabe;
  padding: 20px;
}


.publica{
   width: 70%; 
          }      
.titulo {
  font-size: 50px;
  
}


#b_class{
 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background-color: #66746f;
 
}
  
  #pendientes, #personas, #archivos, #publi {
cursor: pointer;
display: flex;
flex-wrap: wrap;
flex-direction: row;
align-items: center;
border-radius: 15px;
padding: 5px;
width: 80px;
height: 50px;
opacity: 0.8;
text-align: center;
      
  }

  #publi{
width: 60%;
   }

  #tare, #person, #archiv, #flech{
width: 0px;
}
      
.cuadros {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 15px;
    font-weight: 900;
    padding: 5px;

  
    
  }

}
