@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Questrial&display=swap');

.clases_p {
  font-family: 'Graduate', serif;
  margin: 0px;
   
}
footer{
  grid-area: fo;
}

.clases_p{     
          background-color: #ffffff;  
          display: grid;
          grid-template-columns: 20% 80%;
          grid-template-rows: auto minmax(1000px, auto) auto;
          grid-template-areas: 
          "cabe cabe"
          "iz ta"
          "fo fo";
          margin: 0px;
}    

  .hea{
  grid-area: cabe;
  padding: 30px;
  background-color: #35403E;
  
}       



/*sec 1*/


      #pendientes, #personas, #archivos, #calificaciones{
        margin: 5px 30px;
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
  
      }

      #uno{
          grid-area: iz;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          background-color:#1d1e22;
          margin: 0px 0px;
          
      }

      #b_class{
        margin: 20px 0px;

      }

      .cuadros{
        text-decoration: none;
        color: black;
      
      }
      #tare, #person, #archiv{
        
        width: 40px;
        margin: 10px 15px;
      }
    
/*sec2*/

      #dos{
          
          grid-area: ta;
          display: flex;
          flex-direction: column;  
          background-color: #1d1e22;
          margin: 0px 0px;
          
/*ESCRIBE TU PUBLI*/           
    
      }
      .caja_comentario, .texto_comentario{
        text-decoration: none;
        margin: 15px 10px;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        
       
      } 
      .caja_comentario, .caja_comentario_2{
        text-decoration: none;
        margin: 25px 10px;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        box-shadow: 5px 5px 20px;
       
             
      } 

      .caja_comentario{
        background-color: white;
        cursor: pointer;
        display: flex;
        align-items: center;
      }

      .texto_comentario{
        background-color: white;
        display: flex;
        font-weight: 400;
        font-size: 15px;
        padding: 5px;
      }
      #form_publi{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
      }
      .asunto_publi{
        padding: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        margin-top: -20px;
        gap: 20px;
        
      }
      
      #burbuja{
        height: 30px;
      }
      .label{
        background-color: rgb(97, 121, 129, 0.5);
        padding: 10px;
      }
      .publica{
        font-family: 'Graduate', serif;
        height: 30px;
        width: 100%;
        background-color: #ffffff;
        font-size: 13px;
        font-weight: 500;
        padding: 10px;
        border: 1px solid;
        color: black;
        position: relative;
        transition: 0.3s;
    }

    .publica:hover{
        outline: none;
        background-color: #8d9b97;
        color: rgb(0, 0, 0);
    }

    .publica:hover::after{
       border: none;
    }
    
    .coment{
      gap: 20px;
      width: 100%;
      margin: -25px 0px;
      display: flex;
      align-items: center;
      text-align: center;
      padding: 20px;
     
      
    }
    
    .enviar{
      text-align: right;
      margin: 10px;
    }
    #b_enviar{
      font-family:'Graduate', serif; ;
      padding: 10px;
      border: none;
      border-radius: 25px;
      background-color: #ffffff;
    }
    #b_enviar:hover{
      background-color: #b1c4c0;
    }
  


/*PUBLICAIONES*/
      .caja_comentario_2{
        
        background-color: #ffffff;
        border-radius: 30px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
       
      }

      h2{
        color: white;
        margin: 20px;
      }
    

      .hora_profe{
          
            text-align: left;
            background-color: transparent;
            font-weight: 200;
            color: rgba(61, 58, 58, 1);
            border: none;
            position: relative;
        }

        .profe{
          
          align-items: center;
        }
        .profe{
        display: flex;
        flex-direction: row;
        text-align: center;
        height: 50px;
        
      }

        .datos_profe {
          
            font-size: 20px;
            font-weight: 900;
            text-align: center;
            font-weight: 500;
            padding: 10px;
            border: none;
            position: relative;
            border-bottom:1px solid black ;
  
        }

        .edit{
          margin-left: 45px;
        }

        .publicado{
            background-color: rgb(97, 121, 129, 0.5);
            margin: 7px;
            border: 1px solid black;
            border-radius: 15px ;
        
        }

        .respuesta_asu {
            font-family: 'Graduate', serif;
            font-weight: 600;
            padding: 10px;
           
        }

        .respuesta {
            font-family:'Graduate', serif;
            padding: 20px;
            border-top: 1px solid #1d1e22;
           
        }

      /*imagenes*/
    #user, #flecha, #asigna{
      width: 30px;
      height: 30px;
      padding: 20px;
     }

 @media(max-width: 900px){
  
          .clases_p{
              display: grid;
              grid-template-columns: 100%;
              grid-template-rows: 270px 60px 1500px;
              grid-template-rows: auto auto auto;
              grid-template-areas: 
              "cabe"
              "iz"
              "ta";
              display: flex;
              flex-direction: column;
              
              
          }        
.titulo {
  font-size: 50px;
  margin-top: 170px;
  margin-left: 35px;
}
.nombre_prof{
    font-size: 20px;
    color: white;
    margin-top: 5px;
    margin-left: 55px;
    margin-bottom: 10px;
}

  #b_class{
 
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  background-color: #8d9b97;
 
}
  
  #pendientes, #personas, #archivos {
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        border-radius: 15px;
        justify-content: center;
        padding: 5px;
        width: 80px;
        height: 50px;
        opacity: 0.8;
  }

    #tare, #person, #archiv{
        width: 0px;
      }

  .cuadros {
    margin: 10px;
    font-size: 15px;
    font-weight: 900;
    padding: 5px;
    
 
    
  }

}