@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Questrial&display=swap');

.gg{
  font-family: 'Graduate', serif;
  margin: 0px;
}

.gg{
    
    margin: 0px; 
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "he" 
    "bd"
    "fo"; 
}
.cuerpo{
   
    grid-area: bd;
    display: flex;
    flex-direction: row;
    padding: 10px 40px;
    display: grid;
    grid-template-columns: 10% 70% 20%;
    grid-template-rows: auto;
    grid-template-areas: 
    "iz ce de"
    ;
}
.centro{

    grid-area: ce;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.b_izquierda{
    grid-area: iz;
}
.b_derecha{
    grid-area: de;
}

/*Fotitos*/

.casa{
height: 40px;
}
.foto_estu{
    height: 200px;
    width: 200px;
}
/*Tamaño tablet grande*/
@media (max-width: 1600px) {
.cuerpo{
  
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas: 
    "iz ce de"
    ;
}

.centro{
    grid-area: ce;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.bienvenida{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.ns{
display: flex; 
flex-wrap: wrap;
flex-direction: row; 
}
.texto{
   
    margin: 10px 15px;
    font-size: 50px;
}
}
/*Tamaño tablet*/
@media (max-width: 1200px) {
.cuerpo{
  
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas: 
    "iz ce de"
    ;
}

.centro{
    grid-area: ce;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.tabla_estu{
    width: 100%;
}
.bienvenida{
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.ns{
display: flex; 
flex-wrap: wrap;
flex-direction: row; 
}
.texto{
   
    margin: 10px 15px;
    font-size: 50px;
}
}

/*Tamaño tablet pequeña*/

@media (max-width: 790px) {
.gg{
            
display: grid;
grid-template-columns: 100%;
grid-template-rows: auto auto auto;
grid-template-areas: 
"he"
"bd"
"fo";
        
    }

.cuerpo{
display: grid;
grid-template-columns: 100%;
grid-template-rows: auto auto auto;
grid-template-areas: 
"ce"
"iz"
"de"
;

    }

.centro{
width: 100%;
display: flex;
flex-wrap: wrap;

}

.bienvenida{    
background-color: white;
margin: 0px;
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
width: 100%;
}
.ns{
display: flex; 
flex-wrap: wrap;
flex-direction: row; 
}
.casa{
height: 0px;
      }
}
@media (max-width: 480px) {
.cuerpo{
  
display: grid;
grid-template-columns: 100%;
grid-template-rows: auto auto auto;
grid-template-areas: 
"ce"
"iz"
"de"
;

    }
.gg{
margin: 0px;
display: grid;
grid-template-columns: 100%;
grid-template-rows: auto auto auto;
grid-template-areas: 
"he"
"bd"
"fo";
        
    }
 
      .casa{
        height: 0px;
      }
      

}


.bienvenida{

    grid-area: ce;
    animation: venir 0.8s ease;
}
@keyframes venir {
  0%   { transform: translateY(150px); opacity: 0;}
  100%  { transform: translateY(0); opacity: 1;}
}

.pho ,.ingreso{
    transition: transform 0.4s ease, z-index 0.3s;
    position: relative;
    z-index: 1;
}

.pho:hover , .ingreso:hover{
    transform: scale(1.1);
    z-index: 10;
    box-shadow: 0 0px 5px 5px white;
    /*0 0 10px 10px #35403E;*/
}
footer{
    grid-area: fo;
}